/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
/* First part- the starting portion  */

.starting-portion{
    width: 100%;
    background-color:#2D25A0 ;
    margin-bottom: 70px;
}
.starting-portion a, h1{
    color: white;
}
h1{
    font-size: 64px;
}
/* NavBar */

nav {
    
    margin-left: 156px;
    padding-top: 42px;
    margin-right: 124px;
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: black;
    
    margin-right: 15px;
    padding: 10px;
}
.watchLive-logo, .login-logo{
    background-color: red;
    border-radius: 10px;
    width: fit-content;
}
.heading:hover .watchLive-logo{
            background-color: rgb(241, 12, 241);
            border-radius: 10px;
            transform: scale(1.5) rotate(360deg);
            transition: transform 4s ;
}
/* Heading and Poster */

.heading-poster{
    display: flex;
    justify-content: space-between;
    
    
    
}

.heading-poster:hover .poster {
            border-radius: 10px;
            transform: scale(1.25) ;
            transition: transform 2s;
}


.heading{
    display: flex;
    flex-direction: column;
    margin-left: 156px;
}



.poster img{
    height: 438px;
    width: 556px;
    margin-right: 141px;
    margin-bottom: 86px;
}


/* Players */

.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
    
    
}
.player{
    height: 474px;
    width: 330px;
    background-color: white;
    box-shadow: 0px 10px 10px 10px rgb(189, 236, 213);
    
}
.photo-frame{
    
    height: 426px;
    width: 300px;
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    
}

.photo img{
    
    height: 256px;
    width: 300px;
    
}
.photo-detail{
    
    height: 154px;
    width: 300px;
}
.photo-title{
    
    margin-top: 16px;
    height: 40px;
    width: 300px;
    
}
.title-detail{
    margin-top: 10px;
    height: 104px;
    font-size: 16px;
    
}

/* -------------------highligts-- */

.highlight{
    display: flex;  
    margin-top: 165px;
    
}
.highlight-left{
    margin-top: 59px;
    width: 466px;
    height: 309px;
    margin-right: 69px;
}
.highlight-detail{
    
    width: 466px;
    height: 241px;
}

.watchNow-logo{
    width: 173px;
    height: 44px;
    background-color: red;
    border-radius: 10px;
}
.highlight:hover .watchNow-logo{
            background-color: rgb(241, 12, 241);
            border-radius: 10px;
            transform: scale(1.5) rotate(360deg);
            transition: transform 4s ;
}


.match-img img{
   
    width:567px;
    height:427px;
 
    

}
.match-img{
    overflow: hidden;
    position: relative;
    margin-bottom: 48px;
    

}

.highlight:hover .match-img img {
            border-radius: 10px;
            transform: scale(1.5) ;
            transition: transform 1s;
}

/* footer  */

.logo-section{
    padding-top: 20px;
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    margin-left:475px ;
    margin-bottom: 63px;
    align-items: center;
    
    
}
.logo img{
    width: 483.87px;
    height: 110px;
}